/* debug */

/* .banner{
    height: 500px;
    background-color: #E1D67A;
} */

.col-left,
.col-center,
.col-right{
    height: 460px;
    background-color: #ABCFE7;
}

/* debug */

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}

.list-inline > li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 0; 
}

.list-inline a:hover {
    color: black;
}

.list-inline a {
    font-size: 16px;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.layer{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* header */
#logo-container{
    height: 80px;
    margin-bottom: 20px;
}
#logo-container img{
    height: 90%;
    padding-right: 20px;
    border-right: solid lightgray 1px;
}

nav{
    margin: 30px 0;
}

.banner{
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#banner-title{
    width: 55%;
    padding: 250px 40px 60px 40px;
    color: white;
}
.banner-main{
    font-size: 24px;
}
.banner-sub{
    font-size: 14px;
}

/* main */
main{
    background-color: #0087ff;
    padding-bottom: 20px;
}

.title{
    padding: 40px 0;
}

.subtitle{
    font-size: 14px;
    color: lightgray;
}

.col{
    float: left;
}
.col-center{
    width: calc(50% - 40px);
    margin: 0 20px;
}
.col-left,
.col-right{
    width: 25%;
}



.col-title{
    padding: 10px 0;
    font-style: normal;
    font-size: 14px;
    color: black;
}

/* footer */
footer{
    height: 50px;
    margin-top: 10px;
    background-color: blueviolet;
}